<div *ngIf="isLoading">
 <p>Loading...</p>
</div>

<div *ngIf="!isLoading">
 <table class="table">
   <thead>
     <tr>
       <th scope="col">#</th>
       <th scope="col">Created At</th>
       <th scope="col">Total Price</th>
       <th scope="col">Status</th>
       <th scope="col">Client</th>
       <th scope="col"></th>
       <th scope="col"></th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let order of orders; let i = index">
       <th class="center" scope="row">{{ i + 1}}</th>
       <td class="center">{{ order.created_at }}</td>
       <td class="center">
         <p>{{ order.totalPrice }}</p>
       </td>
       <td class="center">
         <p>{{ order.status }}</p>
       </td>
       <td class="center">
         <p>{{ order.clientEmail }}</p>
       </td>
       <td> <button (click)="goToOrderPage(order.id)">Edit</button></td>
       <td> <button (click)="deleteOrder(order.id)">Delete</button></td>
     </tr>
   </tbody>
 </table>
</div>
