<div *ngIf="!orderId">
    <p>No Order created ...</p>
</div>

<div *ngIf="isLoading">
    <p>Loading...</p>
</div>

<div *ngIf="!isLoading">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produc tName</th>
                <th scope="col">Product Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col">Client</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of order.products; let i = index">
                <th class="center" scope="row">{{ i + 1}}</th>
                <td>
                    <img src="{{ element.product.images.image1.src }}" alt="{{ element.product.title }}" width="75px" class="mx-5" /> {{ element.product.title }}
                </td>
                <td class="center">{{ element.product.price }}</td>
                <td class="center">
                    <p>{{ element.quantity }}</p>
                </td>
                <td class="center">
                    <p>{{ order.status }}</p>
                </td>
                <td class="center">
                    <p>{{ order.clientEmail }}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Total Price : {{ order.totalPrice }} $</p>
    <button *ngIf="order.status === 'Not Started' || order.status === 'In Progress' " (click)="cancelOrder()">Cancel Order</button>
    <button *ngIf="order.status === 'Not Started'" (click)="confirmOrder()" >Confirm Order</button>
    <button *ngIf="username" (click)="goToUserOrders()" >See All Orders</button>
</div>