<div *ngIf="!cartId">
    <p>No Order created ...</p>
</div>

<div *ngIf="isLoading && cartId">
    <p>Loading...</p>
</div>

<div *ngIf="!isLoading">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produc tName</th>
                <th scope="col">Product Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col">Client</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of order.products; let i = index">
                <th class="center" scope="row">{{ i }}</th>
                <td>
                    <img src="{{ element.product.images.image1.tiny }}" alt="{{ element.product.title }}" width="75px" class="mx-5" /> {{ element.product.title }}
                </td>
                <td class="center">{{ element.product.price }}</td>
                <td class="center">
                    <p>{{ element.quantity }}</p>
                </td>
                <td class="center">
                    <p>{{ order.status }}</p>
                </td>
                <td class="center">
                    <p>{{ order.clientEmail }}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Total Price : {{ order.totalPrice }} $</p>
    <button (click)="deleteOrder()">Delete Order</button>
</div>