<div *ngIf="!isLoading">
  <p>{{ product.title }}</p>

  <img [src]="product.images?.image1.large" alt="" />

  <p>Price : {{ product.price }}</p>

  <p>Inventory : {{ product.inventory }}</p>

  <div *ngFor="let element of product.description | keyvalue">
    <p>{{ element.key }} : {{ element.value }}</p>
  </div>

  <button (click)="addOrUpdateCart()">Add to cart</button>

  <div>
    <button (click)="decreaseQuantity()">-</button>
    <input type="text" value={{quantity}}/>
    <button (click)="increaseQuantity()">+</button>
  </div>

</div>

<div *ngIf="isLoading">
  <p>Loading ...</p>
</div>
