<div>
  <div *ngIf="isLoading">
    <p>
      <ngb-progressbar
        type="primary"
        [value]="loadingProgress"
        [striped]="true"
        [animated]="true"
        height="50px"
        ><i>{{loadingProgress}}%</i></ngb-progressbar
      >
    </p>
  </div>

  <div *ngIf="!isLoading">
    <h3>{{ collection_products?.length }} - {{ collection_title }}</h3>
    <div style="display:flex" class="flex-wrap justify-content-center">
      <div *ngFor="let product of collection_products" >
        <product-card [product]="product"></product-card>
      </div>

    </div>
  </div>
</div>
